@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

:root{
    --pink : hsl(322, 100%, 66%);
    --pink-claro : hsl(321, 100%, 78%);
    --rojo : hsl(0, 100%, 63%);
    --azul-oscuro : hsl(192, 100%, 9%);
    --Very-Pale-Blue : hsl(207, 100%, 98%);
    --font1 : 'Open Sans', sans-serif;
    --font2 : 'Poppins', sans-serif;


}

body{
    font-family: var(--font1);
}
.header {
    background: #fff;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 130px;
}
.contenedor {
    padding: 30px 20px;
}
.contenedor__header {
    padding: 0 20px;
}
.contenedor__header .texto:first-child p{
    text-shadow: 0px 0px 10px #0005;
}
.texto {
    text-align: center;
    padding: 80px 0;
}
.texto p {
    font-size: 14px;
    line-height: 20px;    
}
.texto h1:first-child {
    font-size: 1.5em;
    font-family: var(--font2);
}
.btn {
    border-radius: 100px;
    border: none;
    font-size: 14px;
}
.btn__pink-claro {
    color: var(--pink-claro);
    border: 1px solid var(--pink-claro);
    background: #fff;
    padding: 5px 20px;
    padding-bottom: 7px;
}
.btn__pink {
    color: var(--Very-Pale-Blue);
    background: var(--pink);
    padding: 13px 40px;
    font-weight: 600;
    box-shadow: 0px 5px 10px #0002;
    margin-top: 30px;
}
.img {
    width: 100%;
    vertical-align: middle;
}
.contenedor__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}
.contenedor__info .item p{
    color: #a7b2bb;
    font-weight: 600;
}
.contenedor__info .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contenedor__info .info img {
    width: 30px;
}
.contenedor__info .info h2 {
    font-size: 4em;
    margin: 0;
}
.azul-oscuro {
    color: var(--azul-oscuro);
}
.main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 80px;
    padding-bottom: 150px;
}
.main .contenedor__seccion:last-child .texto{
    padding: 0;
}
.contenedor__seccion {
    padding: 50px 30px;
}
.contenedor__seccion .texto {
    padding-bottom: 0;
}
.contenedor__seccion h2:first-child {
    font-weight: 700;
    font-family: var(--font2);
}
.contenedor__seccion .texto p {
    text-shadow: 0px 0px 10px #0005;
}
.contenedor__footer {
    background: var(--azul-oscuro);
    color: #fff;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
}
.caja {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contenedor__footer .texto {
    text-align: left;
    padding: 0;
}
.contenedor__footer .texto p {
    font-size: 15px;
}
.formulario-suscribirse {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}
.formulario-suscribirse [type="email"]{
    width: calc(100% - 40px);
    padding: 10px 20px;
    outline: none;
    border-radius: 5px;
    border: none;
}
.formulario-suscribirse .btn {
    border-radius: 5px;
    background: var(--pink);
    padding: 13px 40px;
    color: #fff;
    font-family: var(--font1);
    font-weight: 600;
}
address p {
    display: inline-flex;
    gap: 10px;
}
address p:first-child {
    margin: 0;
}
.redes {
    display: inline-flex;
    gap: 20px;
}
.redes .fab {
    font-size: 2em;
}