@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

:root{
    --pink : hsl(322, 100%, 66%);
    --pink-claro : hsl(321, 100%, 78%);
    --rojo : hsl(0, 100%, 63%);
    --azul-oscuro : hsl(192, 100%, 9%);
    --Very-Pale-Blue : hsl(207, 100%, 98%);
    --font1 : 'Open Sans', sans-serif;
    --font2 : 'Poppins', sans-serif;


}

body{
    font-family: var(--font1);
}
.header {
    background: #fff;
}
.img-desktop {
    display: none;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 130px;
}
.contenedor {
    padding: 30px 20px;
}
.contenedor__header {
    padding: 0 20px;
}
.contenedor__header .texto:first-child p{
    text-shadow: 0px 0px 10px #0005;
}
.texto {
    text-align: center;
    padding: 80px 0;
}
.texto p {
    font-size: 14px;
    line-height: 20px;    
}
.texto h1:first-child {
    font-size: 1.5em;
    font-family: var(--font2);
}
.btn {
    border-radius: 100px;
    border: none;
    font-size: 14px;
}
.btn__pink-claro {
    color: var(--pink-claro);
    border: 1px solid var(--pink-claro);
    background: #fff;
    padding: 5px 20px;
    padding-bottom: 7px;
    transition: box-shadow ease .5s;
}
.btn__pink {
    color: var(--Very-Pale-Blue);
    background: var(--pink);
    padding: 13px 40px;
    font-weight: 600;
    box-shadow: 0px 5px 10px #0002;
    margin-top: 30px;
}
.img {
    width: 100%;
    vertical-align: middle;
}
.contenedor__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}
.contenedor__info .item p{
    color: #a7b2bb;
    font-weight: 600;
}
.contenedor__info .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contenedor__info .info img {
    width: 30px;
}
.contenedor__info .info h2 {
    font-size: 4em;
    margin: 0;
}
.azul-oscuro {
    color: var(--azul-oscuro);
}
.main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 80px;
    padding-bottom: 150px;
}
.main .contenedor__seccion:last-child .texto{
    padding: 0;
}
.contenedor__seccion {
    padding: 50px 30px;
}
.contenedor__seccion .texto {
    padding-bottom: 0;
}
.contenedor__seccion h2:first-child {
    font-weight: 700;
    font-family: var(--font2);
}
.contenedor__seccion .texto p {
    text-shadow: 0px 0px 10px #0005;
}
.contenedor__footer {
    background: var(--azul-oscuro);
    color: #fff;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
}
.caja {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contenedor__footer .texto {
    text-align: left;
    padding: 0;
}
.contenedor__footer .texto p {
    font-size: 15px;
}
.formulario-suscribirse {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}
.formulario-suscribirse [type="email"]{
    width: calc(100% - 30px);
    padding: 10px 15px;
    outline: none;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    color: var(--azul-oscuro);
}
.formulario-suscribirse .btn {
    border-radius: 5px;
    background: var(--pink);
    padding: 13px 40px;
    color: #fff;
    font-family: var(--font1);
    font-weight: 600;
    transition: background ease .5s;
}
.contenedor__footer address {
    display: flex;
    flex-direction: column;
}
address p {
    display: inline-flex;
    gap: 10px;
}
address p:first-child {
    margin: 0;
}
.redes {
    display: inline-flex;
    gap: 20px;
}
.redes .fab {
    font-size: 2em;
}
.mensaje__incorrecto {
    color: var(--rojo);
    display: none;
    margin-top: -10px;
}
.campo__incorrecto [type="email"]{
    border: 1px solid var(--rojo);
}
@media screen and (min-width:600px){
    .contenedor {
        padding: 50px 40px;
    }
    .contenedor__seccion {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        align-items: center;
        padding: 50px 40px;
    }
    .img-mobile {
        display: none;
    }
    .img-desktop {
        display: block;
    }
    .main section:last-child .contenedor__seccion{
        display: block;
    }
    .main section:last-child .contenedor__seccion .texto{
        text-align: center;
    }
    .contenedor__footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 70px 40px;
    }
    .contenedor__footer .caja:last-child {
        grid-column: 1 / 2;
        grid-row: 1 / 1;
    }
}

@media screen and (min-width:1100px){
    
    .contenedor {
        padding: 60px;
    }
    .logo {
        width: 200px;
    }
    .btn {
        font-size: 16px;
        cursor: pointer;
        transition: background ease .5s;
    }
    .btn__pink-claro:hover {
        box-shadow: 0px 0px 7px #0002;
        transition: box-shadow ease .5s;
    }
    .btn__pink:hover {
        background: var(--pink-claro);
        transition: background ease .5s;
    }
    .btn__pink {
        padding: 20px 70px;
    }
    .texto p {
        font-size: 16px;
        line-height: 25px;
    }
    .contenedor__header{
        padding: 0 50px;
    }
    .contenedor__header .texto {
        padding-top: 150px;
    }
    .contenedor__header .texto h1 {
        font-size: 3em;
    }
    .contenedor__header .texto p {
        max-width: 500px;
        margin: auto;
    }
    .mockups {
        width: auto;
        max-width: 100%;
        display: block;
        margin: auto;
    }
    .contenedor__info{
        flex-direction: row;
        justify-content: space-around;
    }
    .contenedor__info .info img {
        width: 40px;
    }
    .contenedor__info .info h2 {
        font-size: 5em;
    }
    .contenedor__seccion {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 200px;
        padding: 100px;
        align-items: center;
    }

    .contenedor__seccion .texto {
        text-align: left;
    }
    .contenedor__seccion .texto h2 {
        font-size: 2em;
    }
    .contenedor__footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 70px 100px;
    }
    .contenedor__footer .caja:last-child {
        grid-column: 1 / 2;
        grid-row: 1 / 1;
    }

    .contenedor__footer .texto {
        max-width: 350px;
    }
    .formulario-suscribirse {
        flex-direction: row;
        gap: 50px;
    }
    .formulario-suscribirse .btn:hover{
        background: var(--pink-claro);
        transition: background ease .5s;
    }
    .contenedor__footer .redes {
        margin-top: 40px;
    }
    .contenedor__footer .redes .fab {
        cursor: pointer;
        transition: color ease .5s;
    }
    .contenedor__footer .redes .fab:hover {
        color: #01c7f8;
        transition: color ease .5s;
    }
}